body, html {
    padding: 0px;
    margin: 0px;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #4F4F4F;
}

button {
    background: #333333;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    padding: 1rem, 2rem;
}

* {
    box-sizing: border-box;
}